body{
    text-align: center;
    background-color: lightgoldenrodyellow;
}
#bottomDiv {
    border-radius: 5px;
    background: lightgrey;
    width: 500px;
    height: auto;
    text-align: center; 
    margin : auto;
    padding: 10px;
    font-size: 150%;
    color: black;
    font-weight: bold;
    text-align: center; 

}
