body{
    text-align: center;
    background-color: #EEE;
}
#header{
    border-radius: 10px;
    border: 1px solid orangered;
    background: lightblue;
    align-content: center;
    text-align: center;
    width: 915px;
    height: auto;
    margin: auto;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 { 
   position: absolute; 
   top: 100px; 
   left: 0; 
   width: 100%; 
   font-size: 200;
}